
//
// Colors
//

$colors: (
    1: #262626
);



//
// Follow modal
//

.follow-modal {
    .close {
        width: 17px;
        height: 17px;
        position: relative;
        &:after,
        &:before {
            content: "";
            width: 17px;
            height: 2px;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            margin: auto;
            position: absolute;
            background: map-get($colors, 1);
        }
        &:after {
            transform: rotate(45deg);
        }
        &:before {
            transform: rotate(-45deg);
        }
    }
    .modal-dialog {
        max-width: 400px;
        .follow-box {
            max-height: 315px;
            overflow-y: auto;
            .name,
            .username {
                max-width: 160px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}