
//
// Colors
//

$colors: (
    1: #f5f5f5
);



//
// Form
//

.form-control {
	&.outline {
		background: transparent;
		-webkit-appearance: none;
	    background-repeat: no-repeat;
		border-color: map-get($colors, 1);
	    background-position: right 5px top 50%;
	    background-image: url(../images/select-arrow-black.png);
	    &.dark {
	    	color: $dark;
	    	border-color: $dark;
	    }
	    &.light {
	    	color: $white;
	    	border-color: $white;
	    	background-image: url(../images/select-arrow.png);	
	    }
	}
}