
//
// Colors
//

$colors: (
    1: #f9f9f9, 2: #e6e6e6
);



//
// Message
//

.message-wrapper {
	height: 480px;
	.message-list {
		border-right: 1px solid map-get($colors, 2);
		.message {
			&:hover,
			&.active {
				background: map-get($colors, 1);
			}
			.user-name {
				max-width: 115px;
			    overflow: hidden;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			}
			.text {
				max-width: 115px;
			    overflow: hidden;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			}
		}
	}
}