
//
// Post modal
//

.post-modal {
	@media (max-width: map-get($grid-breakpoints, md)) {
		padding-right: 0px !important;
	}
	.modal-dialog {
		margin: 5px;
		max-width: 100%;
		@media (min-width: map-get($grid-breakpoints, md)) {
			margin: 0px auto;
		}
		@media (min-width: map-get($grid-breakpoints, lg)) {
			max-width: map-get($container-max-widths, lg);
		}
	}
}