@import "./fonts/montserrat.scss";
@import "./fonts/roboto.scss";
@import "./fonts/lobster.scss";

// Montserrat
$font-family-montserrat: 'Montserrat';

// Roboto
$font-family-roboto: 'Roboto';

// Lobster
$font-family-lobster: 'Lobster';