
//
// Theme color variables
//

$main-colors: (
	1: #e6e6e6, 2: #b5b4b4, 3: #3f4c6b, 
	4: #fafafa, 5: #8c8c8c, 6: #efefef, 
	7: #999999, 8: #003569, 9: #ffffff,
	10: #717171, 11: #a6a6a6, 12: #262626,
	13: #3b5998, 14: #38a1f3, 15: #4b89fc,
	16: #dbdbdb
);



//
// Text sizes
//

$font-size: 0.8125rem;
$text-sizes: (
	0: ($font-size * 0),
	1: ($font-size * 0.07692307692307693),
	2: ($font-size * 0.15384615384615385),
	3: ($font-size * 0.23076923076923078),
	4: ($font-size * 0.3076923076923077),
	5: ($font-size * 0.38461538461538464),
	6: ($font-size * 0.46153846153846156),
	7: ($font-size * 0.5384615384615384),
	8: ($font-size * 0.6153846153846154),
	9: ($font-size * 0.6923076923076923),
	10: ($font-size * 0.7692307692307693),
	11: ($font-size * 0.8461538461538461),
	12: ($font-size * 0.9230769230769231),
	13: ($font-size * 1),
	14: ($font-size * 1.0769230769230769),
	15: ($font-size * 1.1538461538461537),
	16: ($font-size * 1.2307692307692308),
	17: ($font-size * 1.3076923076923077),
	18: ($font-size * 1.3846153846153846),
	19: ($font-size * 1.4615384615384615),
	20: ($font-size * 1.5384615384615385),
	21: ($font-size * 1.6153846153846154),
	22: ($font-size * 1.6923076923076923),
	23: ($font-size * 1.7692307692307692),
	24: ($font-size * 1.8461538461538463),
	25: ($font-size * 1.9230769230769231),
	26: ($font-size * 2),
	27: ($font-size * 2.076923076923077),
	28: ($font-size * 2.1538461538461537),
	29: ($font-size * 2.230769230769231),
	30: ($font-size * 2.3076923076923075),
	31: ($font-size * 2.3846153846153846),
	32: ($font-size * 2.4615384615384617),
	33: ($font-size * 2.5384615384615383),
	34: ($font-size * 2.6153846153846154),
	35: ($font-size * 2.6923076923076925),
	36: ($font-size * 2.769230769230769),
	37: ($font-size * 2.8461538461538463),
	38: ($font-size * 2.923076923076923),
	39: ($font-size * 3),
	40: ($font-size * 3.076923076923077),
	41: ($font-size * 3.1538461538461537),
	42: ($font-size * 3.230769230769231),
	43: ($font-size * 3.3076923076923075),
	44: ($font-size * 3.3846153846153846),
	45: ($font-size * 3.4615384615384617),
	46: ($font-size * 3.5384615384615383),
	47: ($font-size * 3.6153846153846154),
	48: ($font-size * 3.6923076923076925),
	49: ($font-size * 3.769230769230769),
	50: ($font-size * 3.8461538461538463),
	51: ($font-size * 3.923076923076923),
	52: ($font-size * 4),
	53: ($font-size * 4.076923076923077),
	54: ($font-size * 4.153846153846154),
	55: ($font-size * 4.230769230769231),
	56: ($font-size * 4.3076923076923075),
	57: ($font-size * 4.384615384615385),
	58: ($font-size * 4.461538461538462),
	59: ($font-size * 4.538461538461538),
	60: ($font-size * 4.615384615384615),
	61: ($font-size * 4.6923076923076925),
	62: ($font-size * 4.769230769230769),
	63: ($font-size * 4.846153846153846),
	64: ($font-size * 4.923076923076923),
	65: ($font-size * 5),
	66: ($font-size * 5.076923076923077),
	67: ($font-size * 5.153846153846154),
	68: ($font-size * 5.230769230769231),
	69: ($font-size * 5.3076923076923075),
	70: ($font-size * 5.384615384615385)
);



//
// Line height
//

$line-height: 1.5;
$line-heights: (
	1: ($line-height * 0.0416666488),
	2: ($line-height * 0.0833332976),
	3: ($line-height * 0.12499994639999999),
	4: ($line-height * 0.1666665952),
	5: ($line-height * 0.20833324399999997),
	6: ($line-height * 0.24999989279999998),
	7: ($line-height * 0.2916665416),
	8: ($line-height * 0.3333331904),
	9: ($line-height * 0.37499983919999996),
	10: ($line-height * 0.41666648799999995),
	11: ($line-height * 0.4583331368),
	12: ($line-height * 0.49999978559999997),
	13: ($line-height * 0.5416664344),
	14: ($line-height * 0.5833330832),
	15: ($line-height * 0.6249997319999999),
	16: ($line-height * 0.6666663808),
	17: ($line-height * 0.7083330296),
	18: ($line-height * 0.7499996783999999),
	19: ($line-height * 0.7916663272),
	20: ($line-height * 0.8333329759999999),
	21: ($line-height * 0.8749996247999999),
	22: ($line-height * 0.9166662736),
	23: ($line-height * 0.9583329223999999),
	24: ($line-height * 0.9999995711999999),
	25: ($line-height * 1.04166622),
	26: ($line-height * 1.0833328688),
	27: ($line-height * 1.1249995175999998),
	28: ($line-height * 1.1666661664),
	29: ($line-height * 1.2083328152),
	30: ($line-height * 1.2499994639999998),
	31: ($line-height * 1.2916661128),
	32: ($line-height * 1.3333327616),
	33: ($line-height * 1.3749994103999998),
	34: ($line-height * 1.4166660592),
	35: ($line-height * 1.458332708),
	36: ($line-height * 1.4999993567999999),
	37: ($line-height * 1.5416660056),
	38: ($line-height * 1.5833326544),
	39: ($line-height * 1.6249993031999999),
	40: ($line-height * 1.6666659519999998),
	41: ($line-height * 1.7083326008),
	42: ($line-height * 1.7499992495999999),
	43: ($line-height * 1.7916658983999998),
	44: ($line-height * 1.8333325472),
	45: ($line-height * 1.8749991959999999),
	46: ($line-height * 1.9166658447999998),
	47: ($line-height * 1.9583324936),
	48: ($line-height * 1.9999991423999999),
	49: ($line-height * 2.0416657912),
	50: ($line-height * 2.08333244),
	51: ($line-height * 2.1249990887999997),
	52: ($line-height * 2.1666657376),
	53: ($line-height * 2.2083323864),
	54: ($line-height * 2.2499990351999997),
	55: ($line-height * 2.291665684),
	56: ($line-height * 2.3333323328),
	57: ($line-height * 2.3749989815999997),
	58: ($line-height * 2.4166656304),
	59: ($line-height * 2.4583322792),
	60: ($line-height * 2.4999989279999997),
	61: ($line-height * 2.5416655768),
	62: ($line-height * 2.5833322256),
	63: ($line-height * 2.6249988743999997),
	64: ($line-height * 2.6666655232),
	65: ($line-height * 2.708332172),
	66: ($line-height * 2.7499988207999997),
	67: ($line-height * 2.7916654696),
	68: ($line-height * 2.8333321184),
	69: ($line-height * 2.8749987671999997),
	70: ($line-height * 2.916665416),
	71: ($line-height * 2.9583320648),
	72: ($line-height * 2.9999987135999997),
	73: ($line-height * 3.0416653624),
	74: ($line-height * 3.0833320112),
	75: ($line-height * 3.1249986599999997),
	76: ($line-height * 3.1666653088),
	77: ($line-height * 3.2083319576),
	78: ($line-height * 3.2499986063999997),
	79: ($line-height * 3.2916652552),
	80: ($line-height * 3.3333319039999996),
	81: ($line-height * 3.3749985527999997),
	82: ($line-height * 3.4166652016),
	83: ($line-height * 3.4583318503999996),
	84: ($line-height * 3.4999984991999997),
	85: ($line-height * 3.541665148),
	86: ($line-height * 3.5833317967999996),
	87: ($line-height * 3.6249984455999997),
	88: ($line-height * 3.6666650944),
	89: ($line-height * 3.7083317431999996),
	90: ($line-height * 3.7499983919999997),
	91: ($line-height * 3.7916650408),
	92: ($line-height * 3.8333316895999996),
	93: ($line-height * 3.8749983383999997),
	94: ($line-height * 3.9166649872),
	95: ($line-height * 3.9583316359999996),
	96: ($line-height * 3.9999982847999997),
	97: ($line-height * 4.0416649336),
	98: ($line-height * 4.0833315824),
	99: ($line-height * 4.124998231199999),
	100: ($line-height * 4.16666488)
);



//
// Fixed sizes
//

$size: 1rem;
$fix-sizes: (
	0: ($size * 0),
	1: ($size * 0.0625),
	2: ($size * 0.125),
	3: ($size * 0.1875),
	4: ($size * 0.25),
	5: ($size * 0.3125),
	6: ($size * 0.375),
	7: ($size * 0.4375),
	8: ($size * 0.5),
	9: ($size * 0.5625),
	10: ($size * 0.625),
	11: ($size * 0.6875),
	12: ($size * 0.75),
	13: ($size * 0.8125),
	14: ($size * 0.875),
	15: ($size * 0.9375),
	16: ($size * 1),
	17: ($size * 1.0625),
	18: ($size * 1.125),
	19: ($size * 1.1875),
	20: ($size * 1.25),
	21: ($size * 1.3125),
	22: ($size * 1.375),
	23: ($size * 1.4375),
	24: ($size * 1.5),
	25: ($size * 1.5625),
	26: ($size * 1.625),
	27: ($size * 1.6875),
	28: ($size * 1.75),
	29: ($size * 1.8125),
	30: ($size * 1.875),
	31: ($size * 1.9375),
	32: ($size * 2),
	33: ($size * 2.0625),
	34: ($size * 2.125),
	35: ($size * 2.1875),
	36: ($size * 2.25),
	37: ($size * 2.3125),
	38: ($size * 2.375),
	39: ($size * 2.4375),
	40: ($size * 2.5),
	41: ($size * 2.5625),
	42: ($size * 2.625),
	43: ($size * 2.6875),
	44: ($size * 2.75),
	45: ($size * 2.8125),
	46: ($size * 2.875),
	47: ($size * 2.9375),
	48: ($size * 3),
	49: ($size * 3.0625),
	50: ($size * 3.125),
	51: ($size * 3.1875),
	52: ($size * 3.25),
	53: ($size * 3.3125),
	54: ($size * 3.375),
	55: ($size * 3.4375),
	56: ($size * 3.5),
	57: ($size * 3.5625),
	58: ($size * 3.625),
	59: ($size * 3.6875),
	60: ($size * 3.75),
	61: ($size * 3.8125),
	62: ($size * 3.875),
	63: ($size * 3.9375),
	64: ($size * 4),
	65: ($size * 4.0625),
	66: ($size * 4.125),
	67: ($size * 4.1875),
	68: ($size * 4.25),
	69: ($size * 4.3125),
	70: ($size * 4.375),
	71: ($size * 4.4375),
	72: ($size * 4.5),
	73: ($size * 4.5625),
	74: ($size * 4.625),
	75: ($size * 4.6875),
	76: ($size * 4.75),
	77: ($size * 4.8125),
	78: ($size * 4.875),
	79: ($size * 4.9375),
	80: ($size * 5),
	81: ($size * 5.0625),
	82: ($size * 5.125),
	83: ($size * 5.1875),
	84: ($size * 5.25),
	85: ($size * 5.3125),
	86: ($size * 5.375),
	87: ($size * 5.4375),
	88: ($size * 5.5),
	89: ($size * 5.5625),
	90: ($size * 5.625),
	91: ($size * 5.6875),
	92: ($size * 5.75),
	93: ($size * 5.8125),
	94: ($size * 5.875),
	95: ($size * 5.9375),
	96: ($size * 6),
	97: ($size * 6.0625),
	98: ($size * 6.125),
	99: ($size * 6.1875),
	100: ($size * 6.25),
	101: ($size * 6.3125),
	102: ($size * 6.375),
	103: ($size * 6.4375),
	104: ($size * 6.5),
	105: ($size * 6.5625),
	106: ($size * 6.625),
	107: ($size * 6.6875),
	108: ($size * 6.75),
	109: ($size * 6.8125),
	110: ($size * 6.875),
	111: ($size * 6.9375),
	112: ($size * 7),
	113: ($size * 7.0625),
	114: ($size * 7.125),
	115: ($size * 7.1875),
	116: ($size * 7.25),
	117: ($size * 7.3125),
	118: ($size * 7.375),
	119: ($size * 7.4375),
	120: ($size * 7.5),
	121: ($size * 7.5625),
	122: ($size * 7.625),
	123: ($size * 7.6875),
	124: ($size * 7.75),
	125: ($size * 7.8125),
	126: ($size * 7.875),
	127: ($size * 7.9375),
	128: ($size * 8),
	129: ($size * 8.0625),
	130: ($size * 8.125),
	131: ($size * 8.1875),
	132: ($size * 8.25),
	133: ($size * 8.3125),
	134: ($size * 8.375),
	135: ($size * 8.4375),
	136: ($size * 8.5),
	137: ($size * 8.5625),
	138: ($size * 8.625),
	139: ($size * 8.6875),
	140: ($size * 8.75),
	141: ($size * 8.8125),
	142: ($size * 8.875),
	143: ($size * 8.9375),
	144: ($size * 9),
	145: ($size * 9.0625),
	146: ($size * 9.125),
	147: ($size * 9.1875),
	148: ($size * 9.25),
	149: ($size * 9.3125),
	150: ($size * 9.375),
	151: ($size * 9.4375),
	152: ($size * 9.5),
	153: ($size * 9.5625),
	154: ($size * 9.625),
	155: ($size * 9.6875),
	156: ($size * 9.75),
	157: ($size * 9.8125),
	158: ($size * 9.875),
	159: ($size * 9.9375),
	160: ($size * 10),
	161: ($size * 10.0625),
	162: ($size * 10.125),
	163: ($size * 10.1875),
	164: ($size * 10.25),
	165: ($size * 10.3125),
	166: ($size * 10.375),
	167: ($size * 10.4375),
	168: ($size * 10.5),
	169: ($size * 10.5625),
	170: ($size * 10.625),
	171: ($size * 10.6875),
	172: ($size * 10.75),
	173: ($size * 10.8125),
	174: ($size * 10.875),
	175: ($size * 10.9375),
	176: ($size * 11),
	177: ($size * 11.0625),
	178: ($size * 11.125),
	179: ($size * 11.1875),
	180: ($size * 11.25),
	181: ($size * 11.3125),
	182: ($size * 11.375),
	183: ($size * 11.4375),
	184: ($size * 11.5),
	185: ($size * 11.5625),
	186: ($size * 11.625),
	187: ($size * 11.6875),
	188: ($size * 11.75),
	189: ($size * 11.8125),
	190: ($size * 11.875),
	191: ($size * 11.9375),
	192: ($size * 12),
	193: ($size * 12.0625),
	194: ($size * 12.125),
	195: ($size * 12.1875),
	196: ($size * 12.25),
	197: ($size * 12.3125),
	198: ($size * 12.375),
	199: ($size * 12.4375),
	200: ($size * 12.5),
	auto: auto
);



//
// Override bootstrap variables
//

$body-bg: #fafafa;
$body-color: #262626;
$line-height-base: 1.3;
$font-size-base: map-get($text-sizes, 14);
$line-height-base: $line-height;
$input-btn-focus-box-shadow: none;
$btn-font-weight: 300;
$input-color: #262626;
$input-disabled-bg: #fbfafa;
$input-group-addon-bg: #fbfafa;
$input-group-addon-border-color: #f1f1f1;
$border-radius: .2rem;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;
$alert-bg-level: 0;
$alert-border-level: 0;
$alert-color-level: -10;
$link-color: #262626;
$link-hover-color: #262626;
$card-border-color: #ecf2f9;
$card-cap-bg: #f9f9f9;
$list-group-border-color: #ecf2f9;
$nav-tabs-link-active-border-color: #ecf2f9 #ecf2f9 #fafbfd;
$jumbotron-bg: #f9f9f9;
$modal-content-border-color: #ecf2f9;
$modal-header-border-color: #ecf2f9;
$modal-footer-border-color: #ecf2f9;
$font-weight-bold: 500;
$font-weight-bolder: 600;

$blue: #3b7ae2;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e33244;
$orange: #fd7e14;
$yellow: #fcc633;
$green: #1aae88;
$teal: #20c997;
$cyan: #1ccacc;
$gray-100: #fcfcfd;
$gray-600: #6c757d;
$gray-800: #343a40;

$box-shadow-sm: 0px 2px 5px rgba(69, 101, 173, 0.08);
$box-shadow: 0px 3px 8px rgba(69, 101, 173, 0.21);
$box-shadow-lg: 0px 2px 4px rgba(0, 0, 0, 0.56);

$spacer: 1rem;
$spacers: ();
$sizes: ();

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1010px
);

$spacers: map-merge(
	(
		0: ($spacer * 0),
		1: ($spacer * 0.0625),
		2: ($spacer * 0.125),
		3: ($spacer * 0.1875),
		4: ($spacer * 0.25),
		5: ($spacer * 0.3125),
		6: ($spacer * 0.375),
		7: ($spacer * 0.4375),
		8: ($spacer * 0.5),
		9: ($spacer * 0.5625),
		10: ($spacer * 0.625),
		11: ($spacer * 0.6875),
		12: ($spacer * 0.75),
		13: ($spacer * 0.8125),
		14: ($spacer * 0.875),
		15: ($spacer * 0.9375),
		16: ($spacer * 1),
		17: ($spacer * 1.0625),
		18: ($spacer * 1.125),
		19: ($spacer * 1.1875),
		20: ($spacer * 1.25),
		21: ($spacer * 1.3125),
		22: ($spacer * 1.375),
		23: ($spacer * 1.4375),
		24: ($spacer * 1.5),
		25: ($spacer * 1.5625),
		26: ($spacer * 1.625),
		27: ($spacer * 1.6875),
		28: ($spacer * 1.75),
		29: ($spacer * 1.8125),
		30: ($spacer * 1.875),
		31: ($spacer * 1.9375),
		32: ($spacer * 2),
		33: ($spacer * 2.0625),
		34: ($spacer * 2.125),
		35: ($spacer * 2.1875),
		36: ($spacer * 2.25),
		37: ($spacer * 2.3125),
		38: ($spacer * 2.375),
		39: ($spacer * 2.4375),
		40: ($spacer * 2.5),
		41: ($spacer * 2.5625),
		42: ($spacer * 2.625),
		43: ($spacer * 2.6875),
		44: ($spacer * 2.75),
		45: ($spacer * 2.8125),
		46: ($spacer * 2.875),
		47: ($spacer * 2.9375),
		48: ($spacer * 3),
		49: ($spacer * 3.0625),
		50: ($spacer * 3.125),
		51: ($spacer * 3.1875),
		52: ($spacer * 3.25),
		53: ($spacer * 3.3125),
		54: ($spacer * 3.375),
		55: ($spacer * 3.4375),
		56: ($spacer * 3.5),
		57: ($spacer * 3.5625),
		58: ($spacer * 3.625),
		59: ($spacer * 3.6875),
		60: ($spacer * 3.75),
		61: ($spacer * 3.8125),
		62: ($spacer * 3.875),
		63: ($spacer * 3.9375),
		64: ($spacer * 4),
		65: ($spacer * 4.0625),
		66: ($spacer * 4.125),
		67: ($spacer * 4.1875),
		68: ($spacer * 4.25),
		69: ($spacer * 4.3125),
		70: ($spacer * 4.375),
		71: ($spacer * 4.4375),
		72: ($spacer * 4.5),
		73: ($spacer * 4.5625),
		74: ($spacer * 4.625),
		75: ($spacer * 4.6875),
		76: ($spacer * 4.75),
		77: ($spacer * 4.8125),
		78: ($spacer * 4.875),
		79: ($spacer * 4.9375),
		80: ($spacer * 5),
		81: ($spacer * 5.0625),
		82: ($spacer * 5.125),
		83: ($spacer * 5.1875),
		84: ($spacer * 5.25),
		85: ($spacer * 5.3125),
		86: ($spacer * 5.375),
		87: ($spacer * 5.4375),
		88: ($spacer * 5.5),
		89: ($spacer * 5.5625),
		90: ($spacer * 5.625),
		91: ($spacer * 5.6875),
		92: ($spacer * 5.75),
		93: ($spacer * 5.8125),
		94: ($spacer * 5.875),
		95: ($spacer * 5.9375),
		96: ($spacer * 6),
		97: ($spacer * 6.0625),
		98: ($spacer * 6.125),
		99: ($spacer * 6.1875),
		100: ($spacer * 6.25),
		101: ($spacer * 6.3125),
		102: ($spacer * 6.375),
		103: ($spacer * 6.4375),
		104: ($spacer * 6.5),
		105: ($spacer * 6.5625),
		106: ($spacer * 6.625),
		107: ($spacer * 6.6875),
		108: ($spacer * 6.75),
		109: ($spacer * 6.8125),
		110: ($spacer * 6.875),
		111: ($spacer * 6.9375),
		112: ($spacer * 7),
		113: ($spacer * 7.0625),
		114: ($spacer * 7.125),
		115: ($spacer * 7.1875),
		116: ($spacer * 7.25),
		117: ($spacer * 7.3125),
		118: ($spacer * 7.375),
		119: ($spacer * 7.4375),
		120: ($spacer * 7.5),
		121: ($spacer * 7.5625),
		122: ($spacer * 7.625),
		123: ($spacer * 7.6875),
		124: ($spacer * 7.75),
		125: ($spacer * 7.8125),
		126: ($spacer * 7.875),
		127: ($spacer * 7.9375),
		128: ($spacer * 8),
		129: ($spacer * 8.0625),
		130: ($spacer * 8.125),
		131: ($spacer * 8.1875),
		132: ($spacer * 8.25),
		133: ($spacer * 8.3125),
		134: ($spacer * 8.375),
		135: ($spacer * 8.4375),
		136: ($spacer * 8.5),
		137: ($spacer * 8.5625),
		138: ($spacer * 8.625),
		139: ($spacer * 8.6875),
		140: ($spacer * 8.75),
		141: ($spacer * 8.8125),
		142: ($spacer * 8.875),
		143: ($spacer * 8.9375),
		144: ($spacer * 9),
		145: ($spacer * 9.0625),
		146: ($spacer * 9.125),
		147: ($spacer * 9.1875),
		148: ($spacer * 9.25),
		149: ($spacer * 9.3125),
		150: ($spacer * 9.375),
		151: ($spacer * 9.4375),
		152: ($spacer * 9.5),
		153: ($spacer * 9.5625),
		154: ($spacer * 9.625),
		155: ($spacer * 9.6875),
		156: ($spacer * 9.75),
		157: ($spacer * 9.8125),
		158: ($spacer * 9.875),
		159: ($spacer * 9.9375),
		160: ($spacer * 10),
		161: ($spacer * 10.0625),
		162: ($spacer * 10.125),
		163: ($spacer * 10.1875),
		164: ($spacer * 10.25),
		165: ($spacer * 10.3125),
		166: ($spacer * 10.375),
		167: ($spacer * 10.4375),
		168: ($spacer * 10.5),
		169: ($spacer * 10.5625),
		170: ($spacer * 10.625),
		171: ($spacer * 10.6875),
		172: ($spacer * 10.75),
		173: ($spacer * 10.8125),
		174: ($spacer * 10.875),
		175: ($spacer * 10.9375),
		176: ($spacer * 11),
		177: ($spacer * 11.0625),
		178: ($spacer * 11.125),
		179: ($spacer * 11.1875),
		180: ($spacer * 11.25),
		181: ($spacer * 11.3125),
		182: ($spacer * 11.375),
		183: ($spacer * 11.4375),
		184: ($spacer * 11.5),
		185: ($spacer * 11.5625),
		186: ($spacer * 11.625),
		187: ($spacer * 11.6875),
		188: ($spacer * 11.75),
		189: ($spacer * 11.8125),
		190: ($spacer * 11.875),
		191: ($spacer * 11.9375),
		192: ($spacer * 12),
		193: ($spacer * 12.0625),
		194: ($spacer * 12.125),
		195: ($spacer * 12.1875),
		196: ($spacer * 12.25),
		197: ($spacer * 12.3125),
		198: ($spacer * 12.375),
		199: ($spacer * 12.4375),
		200: ($spacer * 12.5),
		auto: auto
	),
	$spacers
);

$sizes: map-merge(
	(
		1: 1%,
		2: 2%,
		3: 3%,
		4: 4%,
		5: 5%,
		6: 6%,
		7: 7%,
		8: 8%,
		9: 9%,
		10: 10%,
		11: 11%,
		12: 12%,
		13: 13%,
		14: 14%,
		15: 15%,
		16: 16%,
		17: 17%,
		18: 18%,
		19: 19%,
		20: 20%,
		21: 21%,
		22: 22%,
		23: 23%,
		24: 24%,
		25: 25%,
		26: 26%,
		27: 27%,
		28: 28%,
		29: 29%,
		30: 30%,
		31: 31%,
		32: 32%,
		33: 33%,
		34: 34%,
		35: 35%,
		36: 36%,
		37: 37%,
		38: 38%,
		39: 39%,
		40: 40%,
		41: 41%,
		42: 42%,
		43: 43%,
		44: 44%,
		45: 45%,
		46: 46%,
		47: 47%,
		48: 48%,
		49: 49%,
		50: 50%,
		51: 51%,
		52: 52%,
		53: 53%,
		54: 54%,
		55: 55%,
		56: 56%,
		57: 57%,
		58: 58%,
		59: 59%,
		60: 60%,
		61: 61%,
		62: 62%,
		63: 63%,
		64: 64%,
		65: 65%,
		66: 66%,
		67: 67%,
		68: 68%,
		69: 69%,
		70: 70%,
		71: 71%,
		72: 72%,
		73: 73%,
		74: 74%,
		75: 75%,
		76: 76%,
		77: 77%,
		78: 78%,
		79: 79%,
		80: 80%,
		81: 81%,
		82: 82%,
		83: 83%,
		84: 84%,
		85: 85%,
		86: 86%,
		87: 87%,
		88: 88%,
		89: 89%,
		90: 90%,
		91: 91%,
		92: 92%,
		93: 93%,
		94: 94%,
		95: 95%,
		96: 96%,
		97: 97%,
		98: 98%,
		99: 99%,
	    100: 100%,
	    auto: auto
	),
	$sizes
);